**/Makefile
autom4te.cache
**/.*.out
**/*.o
src/.deps
**/*.Po
**/*.a
**/config.log
**/config.status
src/config.h
src/x64sc
src/c1541
src/cartconv
src/petcat
src/stamp-h1
src/vsid
src/x64dtv
src/x128
src/xcbm2
src/xcbm5x0
src/xpet
src/xplus4
src/xvic
src/xscpu64
